{% extends '::base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="center-align">
          <h3 class="valign">Software diseñado para creacion y distribucion de licencias de transito. (ADMINTARJETAS S.A.)</h3>
        </div> 
        <article>
            <blockquote>
                <h5><b>MISION</b></h5>  
                <p class="flow-text" align="justify">Regular y controlar el funcionamiento ágil y 
                eficiente de la movilidad, el transito y transporte 
                publico y privado dentro del municipio de Fusagasuga en 
                concordancia con las leyes que rigen la materia.</p>
            </blockquote>   
            <blockquote>
                <h5><b>VISION</b></h5>  
                <p class="flow-text" align="justify">Ofrecer a nuestros usuarios un servicio acorde con las exigencias del mundo actual, enmarcado en criterios de seguridad, agilidad, eficiencia y calidad; aprovechando los recursos tecnologicos en todos sus procesos, ejerciendo una posicion de liderazgo entre los organismos de transito de la zona centro del pais y aumentando el numero de usuarios por la excelencia de su servicio.</p>
            </blockquote>
        </article>      
    </div>

{% endblock %}