{% if is_granted('ROLE_ADMIN') %}
{% extends '::base.html.twig' %}

{% block body -%}
<div class="container">
	<h1>Nueva Carroceria</h1>
	<ul class="record_actions">
		<li>
			<a href="{{ path('carroceria') }}">
			    Volver
			</a>
		</li>
	</ul>
    {{ form(form) }}
</div>
{% endblock %}
{% endif %}