{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Carroceria</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Codcarroceria</th>
                <td>{{ entity.codCarroceria }}</td>
            </tr>
            <tr>
                <th>Tipocarroceria</th>
                <td>{{ entity.tipoCarroceria }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('carroceria') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('carroceria_edit', { 'id': entity.codCarroceria }) }}">
            Edit
        </a>
    </li>
</ul>
{% endblock %}
