{% extends '::base.html.twig' %}

{% block body -%}
<div class="container">
<ul class="record_actions">
	<li>
		<a href="{{ path('motor') }}">
		    Volver
		</a>
	</li>
</ul>
    <h1>Crear Motor</h1>
    {{ form(form) }}
</div>
{% endblock %}
